aiosqlite
asyncio
asyncpg
email-validator
fastapi
httpx
passlib[bcrypt]
pydantic
pydantic-settings
PyJWT
python-dotenv
python-multipart
sqlalchemy[asyncio]
tenacity
tqdm
uvicorn[standard]
